<!--Main Footer-->
<footer class="main-footer">
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <!--About Widget-->
                            <div class="footer-widget about-widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="img/lespilotes.png" alt="" /></a>
                                </div>
                                <div class="widget-content">
                                    <div class="bold-text">Our School Specialists!</div>
                                    <div class="text">Aorem ipsum dolor sit amet elit sed lum tempor incididunt ut labore el dolore alg minim veniam quis nostrud lorem psum dolor sit amet sed incididunt.</div>
                                    <a href="#" class="read-more">Read More...</a>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <!--Gallery Widget-->
                            <div class="footer-widget gallery-widget">
                                <h2>Notre Gallerie</h2>
                                <div class="widget-content">
                                    <div class="images-outer clearfix">
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="img/gallery/1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="img/gallery/footer-thumb-1.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="img/gallery/2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="img/gallery/footer-thumb-2.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="img/gallery/3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="img/gallery/footer-thumb-3.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="img/gallery/4.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="img/gallery/footer-thumb-4.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="img/gallery/1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="img/gallery/footer-thumb-5.jpg" alt=""></a></figure>
                                        <!--Image Box-->
                                        <figure class="image-box"><a href="img/gallery/2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="img/gallery/footer-thumb-6.jpg" alt=""></a></figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <!--Info Widget-->
                            <div class="footer-widget info-widget">
                                <h2>Restez en contact</h2>
                                <div class="widget-content">
                                    <ul class="list-style-one">
                                        <li><span class="icon flaticon-location-pin"></span>Km 3 route de l'aéroport <br> à côté de la brioche dorée de yoff.</li>
                                        <li><span class="icon flaticon-technology-3"></span>+(221) 70 334 96 30</li>
                                        <li><span class="icon flaticon-interface"></span>contact@autoecolelespilotes.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget subscribe-widget">
                                <h2>News letter</h2>
                                <div class="widget-content">
                                    <div class="newsletter-form">
                                        <form method="post" action="contact.html">
                                            <div class="form-group">
                                                <input type="text" name="name" value="" placeholder="Name *" required="">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" value="" placeholder="Email Id" required="">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="theme-btn btn-style-one">SOUSCRIRE</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="copyright">&copy; Copyright 2017 Auto-Ecole Les Pilotes | Tous droits reservés</div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <ul class="social-links-two">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Main Footer-->